*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
#wrapper{
    width: 100%;
 }
body{
    background-color: #fffdf6;

}
.login-header{
    position: relative;
    width: 100%;
    height: 60px;
}
#logo{
    position: absolute;
    top:25.2%;
    left: 31.5625%;
    background-image: url("../imgs/logo.png");
    height: 43px;
    width: 118px;

}
.login{
    width: 70%;
}
.login-body{
    background-image: url("../imgs/pattern.gif");
    display: inline-block;
    position: relative;
    width:100%;
    height: 480px;
    
}
#exist-user button,#new-user button{
    height: 62px;
    background-color: #fffbed;
    border: 1px solid #dedbba;
    direction: rtl;
    font-family:  "Myriad Hebrew";
    color: #979691;
}
#exist-user{
    width: 38.125%;
    font-size: 15pt;

}
#new-user{
    width: 61.875%;
    font-size: 17pt;

}
#profile-pic{
    position: absolute;
    top: 16%;
    right: 27%;
    display: inline-block;
    width: 18.6%;
    height: 21.6%;
    background-color: rgba(204, 0, 102, 0);
    /*border: 3px solid #333;*/
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}

#profile-pic > img{
    border-radius: 50px;
}
#user-name{
    position: absolute;
    top: 22.5%;
    right: 51%;

}
#welcome-txt{
    direction: rtl;
    position: absolute;
    top: 36.2%;
    text-align: center;
    width: 100%;
    font-family: "Myriad Hebrew";
    font-size: 13.12pt;
    color: #fe925d;
    border-radius: 0;

}
#facebook-login{
    position: absolute;
    top:85%;
    right: 13.7%;
    width: 70.6%;
    height: 16.25%;
    border: 2px solid lightblue;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    line-height: 1.88;
    display: none;
}
.logIn{
    position: relative;
    left: 30%;
    top: 250px;
}

.login-footer{
    width: 100%;
    position: relative;
    top: 80%;
}
#logout{
    position: absolute;
    top: 75%;
    right: 5%;
    text-decoration: none;
    color: #000000;

}
.ui-loader,.ui-corner-all,.ui-body-a,.ui-loader-default{
    display: none;
}
.user-list{
    width: 100%;
    display: inline-block;

}
.user-row{
    width:100%;
    border-bottom: 1px solid #000000;
    display: inline-block;
}
.user-row-profile-pic{
    width:35%;
    height: 100px;
    display: inline-block;
    float: right;

}
#user-profile-pic{
    display: inline-block;
    margin-left: 18%;
    margin-top: 10%;
    width: 60.6%;
    height: 68.6%;
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #333;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}
.user-row-name{
    width:35%;
    display: inline-block;
    float: right;
    direction: rtl;

}
.user-row-name>#userName{
    height: 50%;
    padding-top: 17%;
    direction: rtl;
    font-size: 19px;
}
.user-row-remainingDays{
    width:30%;
    display: inline-block;
    float: right;
    direction: rtl;
    margin-top: 13%;
 }
#user-bday-date{
    height: 50%;
    padding-top: 10%;
    direction: rtl;
    font-size: 13px;
}
.user-header{
    position: relative;
    width: 100%;
    height: 23%;
}
#profile-pic2{
    position: absolute;
    top: 13%;
    right: 4%;
    display: inline-block;
    width: 16.6%;
    height: 48.6%;
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #333;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}
#user-name2{
    position: absolute;
    top: 16%;
    right: 27%;
}
.user-body{
    width: 100%;
    height: 70%;
    overflow-y: auto;
    direction: rtl;
    font-size: 14px;
    text-align: justify;
}
.user-row p{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right:10% ;
    overflow-y: auto;
}
.user-footer{
    width: 100%;
    height: 7%;
}
#bdayDate{
    position: absolute;
    top: 47%;
    right: 27%;
}
#remainingBox{
    position: absolute;
    top: 20%;
    left: 9%;
    display: inline-block;
    width: 13.6%;
    height: 35.6%;
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #333;
    -moz-border-radius:75px;
    text-align: center;
    font-size: 14px;
}
#next{
    direction: rtl;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    color: #333333;
}
#prev{
    direction: rtl;
    float: right;
    padding-right: 4%;
    padding-top: 2%;
    color: #333333;

}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    margin-bottom: -1%;
    text-align: center;
    list-style: none;
    direction: rtl;
}
.carousel-indicators li {
    display: inline-block;
    width: 10pt;
    height: 10pt;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
}
#active{
    background-color: #383838;
}