*{
    margin:0;
    padding: 0;
}

@font-face {
  font-family: 'Alef';
  src: url('fonts/Alef-Bold.eot');
  src: url('fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-Bold.woff') format('woff'), url('fonts/Alef-Bold.ttf') format('truetype'), url('fonts/Alef-Bold.svg#Alef-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alef';
  src: url('fonts/Alef-Regular.eot');
  src: url('fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Alef-Regular.woff') format('woff'), url('fonts/Alef-Regular.ttf') format('truetype'), url('fonts/Alef-Regular.svg#alefregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

a{
    text-decoration: none !important;
    text-underline: none !important;
    color: inherit;
}

button{
    outline: none !important;

}
#wrapper{
    width: 100%;
 }
body{
    background-color: #fffdf6;
    /*font-weight: 400 !important;*/
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    background-color: #fffdf6;
}
/*-----------------------------------App Header------------------------------------------------*/
.app-header{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #f8f3e4;
    z-index: 999999;
}
.logo-header{
    position: absolute;
    top:26.67%;
    right: 37.5%;
    background: url("../imgs/logo-header.png") no-repeat;
    height: 25px;
    width: 70px;
}
.notifications,.notifications-pressed{
    position: absolute;
    top:40%;
    right: 5.625%;
    background: url("../imgs/notification.png") no-repeat;
    height: 24px;
    width: 19px;
    text-align: center;
    font-weight: 200 !important;
    font-size: 8pt ;
    color: #ffffff !important;
    line-height: 2.8;
}
.notifications{
    background: url("../imgs/notification.png") no-repeat;

}
.notifications-pressed{
    background: url("../imgs/notification-icon2.png") no-repeat;
    background-size: 101%;

}
.settings{
    position: absolute;
    top:43.33%;
    left: 5.625%;
    background-image: url("../imgs/settings-icon.png");
    height: 22px;
    width: 20px;
    background-size: 95%;
    background-repeat: no-repeat;
}

.settings-pressed{
    position: absolute;
    top:43.33%;
    left: 5.625%;
    background-image: url("../imgs/settings-icon-pressed.png");
    height: 22px;
    width: 20px;
    background-size: 95%;
    background-repeat: no-repeat;
}
/*-----------------------------------user strip------------------------------------------------*/
.user-name{
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ebe9e2;
}
.vertical-line{
    float: right;
    width: 5px;
    height: 60px;
    background-color: #df547d;
}
.name{
    position: absolute;
    right: 5.625%;
}
.name h4, .name h6,.days-left h5{
    font-family: Alef;
    direction: rtl;
    color: #df547d;
    margin: 0;
    font-weight: lighter;
}
.name h4{
    font-size: 20pt;
    margin-top: 7px;
}
.name h6{
    font-size: 12pt;
}
.days-left{
    position: absolute;
    left: 5.625%;
}
.days-left h5{
    margin-top: 20px;
    font-size: 15pt;

}

.addReminder {
    display: none;
    width : 21px !important;
    height : 20px;
    position : relative;
    left : 108%;
    top : 20px;
}

.moveToArciveIgnore{
    display: none;
    width : 21px !important;
    height : 20px;
    position : relative;
    left : 108%;
    top : 0px;   
}

.active{
    display: block !important;
}

.moveToArcive{
    display: none;
    width : 17px !important;
    height : 18px;
    position : relative;
    left : 8%;
    bottom : 40px;
}

.restore-friend{
    display: none;
    width : 17px !important;
    height : 18px;
    position : relative;
    left : 8%;
    bottom : 0px;  
}
.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  position: absolute;
  bottom: 5px;
  left: 25%;
  width: 50%;
  z-index: 999;
  text-align: center;
  direction: rtl;
  border-radius: 20px;
}

.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    position: absolute;
    bottom: 5px;
    left: 25%;
    width: 50%;
    z-index: 999;
    text-align: center;
    direction: rtl;
    border-radius: 20px;
}

/*-----------------------------------App footer------------------------------------------------*/
.app-footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 43px;
    background-color: #f8f3e4;
    border-top: 2px solid #eeece6;

}
.arrow-left{
    background-image: url("../imgs/arrow-left-icon.png");
    width: 13px;
    height: 18px;
    position: absolute;
    bottom: 30.23%;
    left: 5.625%;
}
.arrow-right{
    background-image: url("../imgs/arrow-right-icon.png");
    width: 11px;
    height: 18px;
    position: absolute;
    bottom: 30.23%;
    right: 5.625%;
}
/*-----------------------------------login Page------------------------------------------------*/
.logo-section{

}
.logo,.logoLoading{
    position: absolute;
    top:25.2%;
    left: 31.5625%;
    height: 43px;
    width: 118px;
}
.logo{
    background-image: url("../imgs/logo.png");

}
.logoLoading{
    background-image: url("../imgs/logo1.png");

}
.welcome-txt,.change-welcome-txt{
    direction: rtl;
    position: absolute;
    top: 36.2%;
    text-align: center;
    width: 100%;
    font-family: 'Alef-Regular';
    font-size: 13.12pt;
    border-radius: 0;
}
.welcome-txt{
    color: #fe925d !important;

}
.change-welcome-txt{
    color: #fe925d ;
}

.login-body{
    background-image: url("../imgs/pattern.gif");
    display: inline-block;
    position: relative;
    width:100%;
    height: 100vh;
    
}
#exist-user button,#new-user button{
    height: 62px;
    background-color: #fffbed;
    border: 1px solid #dedbba;
    font-family:  'Alef-Regular';
    color: #979691 !important;
}
#exist-user{
    width: 38.125%;
    font-size: 15pt;

}
#new-user a{
    color: #979691 !important;
}
#new-user{
    width: 61.875%;
    font-size: 17pt;

}
#profile-pic{
    position: absolute;
    top: 16%;
    right: 27%;
    display: inline-block;
    width: 18.6%;
    height: 21.6%;
    background-color: rgba(204, 0, 102, 0);
    /*border: 3px solid #333;*/
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}

#profile-pic > img{
    border-radius: 50px;
}


.logIn{
    position: relative;
    left: 30%;
    top: 250px;
}

.login-footer{
    width: 100%;
    position: relative;
    top: 80%;
}

.ui-loader,.ui-corner-all,.ui-body-a,.ui-loader-default{
    display: none;
}

/*-----------------------------------loading Page------------------------------------------------*/
.loading-body{

}
#switching-icon{
    position: absolute;
    top: 52.92%;
    left:  46.875%;
    background: url("../imgs/switching-img1.png") no-repeat;
    height: 53px;
    width: 42px;

}

/*-----------------------------------user's friends Page------------------------------------------------*/
.user-friends-body,.ignore-friends-body{
    margin-top: 60px;
}
.friend-row{
    width: 100%;
    height:60px;
    background-color: #df547d ;
}
.friend-img{
    float: right;
    width: 58px;
    height: 60px;
    background-size: auto;
}
.friend-img a >img{
    width: 58px;
    height: 60px;
 }

.friend-name{
    float: right;
    height: 60px;
    width: 43.75%;
    padding-right: 17px;
    padding-top: 10px;
}
.friend-days-left{
    direction: rtl;
    height: 60px;
    width: 50%;
    padding-left: 10px;
    padding-top: 20px;
}
.friend-name  a > h4, .friend-name a >h6,.friend-days-left a >h5{
    font-family: 'Alef-Regular';
    color: #ffffff;
    margin: 0;
}

.friend-name-ignore {
    float: right;
    height: 60px;
    width: 43.75%;
    padding-right: 17px;
    padding-top: 14px;
}

.friend-name-ignore a > h4, .friend-name-ignore a >h6, .friend-name-ignore a >h5{
    color: #30beb2;
    margin: 0;
    font-family: 'Alef-Regular';
}

.friend-name-ignore a >h4{
    font-size: 15pt;
    float: right;
    font-weight: 200;
 }
.friend-name-ignore a >h6{
    font-size: 10pt;
    float: right;
    font-weight: 200;
}
.friend-days-left a >h5{
    font-size: 12pt;
    font-weight: 200;
}

.friend-name a >h4{
    font-size: 15pt;
    float: right;
    font-weight: 200;
 }
.friend-name a >h6{
    font-size: 10pt;
    float: right;
    font-weight: 200;
    padding-top: 5px;
}
.friend-days-left a >h5{
    font-size: 12pt;
    font-weight: 200;
}
/*-----------------------------------user's friends Page------------------------------------------------*/
.birthday-wishes-body{
    margin-top: 60px;
    margin-bottom: 43px;
}
#birthdayWishesList>.friend-row{
    background-color: #fffdf6;
    border-top: 1px solid #ebe9e2;
    padding: 15px 50px 18px 30px;
    overflow: hidden;
    font-family: 'Alef-Regular';
}
.addIcon {
    color: #fda172;
    background: url("../imgs/edit-icon.png") no-repeat calc(100% - 13px);
}

#birthdayWishesList >li >div{
    outline: none;
}

/*-----------------------------------user's friends Page------------------------------------------------*/
.user-row{
    width:100%;
    border-bottom: 1px solid #000000;
    display: inline-block;
}
.user-row-profile-pic{
    width:35%;
    height: 100px;
    display: inline-block;
    float: right;
}
#user-profile-pic{
    display: inline-block;
    margin-left: 18%;
    margin-top: 10%;
    width: 60.6%;
    height: 68.6%;
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #333;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}
.user-row-name{
    width:35%;
    display: inline-block;
    float: right;
    direction: rtl;
}
.user-row-name>#userName{
    height: 50%;
    padding-top: 17%;
    direction: rtl;
    font-size: 19px;
}
.user-row-remainingDays{
    width:30%;
    display: inline-block;
    float: right;
    direction: rtl;
    margin-top: 13%;
 }
#user-bday-date{
    height: 50%;
    padding-top: 10%;
    direction: rtl;
    font-size: 13px;
}
.user-header{
    position: relative;
    width: 100%;
    height: 23%;
}
#profile-pic2{
    position: absolute;
    top: 13%;
    right: 4%;
    display: inline-block;
    width: 16.6%;
    height: 48.6%;
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #333;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
}
#user-name2{
    position: absolute;
    top: 16%;
    right: 27%;
}
.user-body{
    width: 100%;
    height: 70%;
    overflow-y: auto;
    direction: rtl;
    font-size: 14px;
    text-align: justify;
}
.user-row p{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right:10% ;
    overflow-y: auto;
}
.user-footer{
    width: 100%;
    height: 7%;
}
#bdayDate{
    position: absolute;
    top: 47%;
    right: 27%;
}
#remainingBox{
    position: absolute;
    top: 20%;
    left: 9%;
    display: inline-block;
    width: 13.6%;
    height: 35.6%;
    background-color: rgba(204, 0, 102, 0);
    border: 3px solid #333;
    -moz-border-radius:75px;
    text-align: center;
    font-size: 14px;
}
#next{
    direction: rtl;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    color: #333333;
}
#prev{
    direction: rtl;
    float: right;
    padding-right: 4%;
    padding-top: 2%;
    color: #333333;

}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    margin-bottom: -1%;
    text-align: center;
    list-style: none;
    direction: rtl;
}
.carousel-indicators li {
    display: inline-block;
    width: 10pt;
    height: 10pt;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    border-radius: 10px;
}
#active{
    background-color: #383838;
}
/*-----------------------------------bDay wishes Page------------------------------------------------*/

.birthday-wishes-body{
    width: 100%;
    background-color: #fffdf6;

}

#birthdayWishesList{
    direction: rtl;
}


/*-----------------------------------confirm Page------------------------------------------------*/

.confirm-page-body{
    position: relative;
    height: 100vh;
    margin-bottom: 43px;
}
.confirm-wish{
    direction: rtl;
    padding: 6% 12% 5.5% 9.8%;
    font-family: 'Alef-Regular';
    direction: rtl;
    font-size: 12pt;
    color: #656565;
}
.confirm-picture{
    position: relative;
    bottom: 0%;
    left: 15.5%;
    width: 68%;
    margin-bottom: 43px;
    padding-bottom: 25px;
}
.confirm-picture img{
    width: 203px;
    height: 184px;
}
#publish{
    width: 22.5%;
    height: 43px;
    background-color: #f7f1e0;
    border-right: 1px solid #eeece6;
    border-radius: 0;
    font-family: 'Alef-Regular';
    direction: rtl;
    font-size: 18pt;
    text-align: center;
    line-height: 1.8;
}
#publish a{
    color: #df547d !important;

}


/*-----------------------------------gallery ------------------------------------------------*/

.arrow {
    position: absolute;
    top: 45%;
    cursor: pointer;
    display: block;
    height: 25px;
    outline: medium none;
    width: 25px;
    z-index: 5;
}
.arrow.prev {
    background-image: url("../imgs/prev.png");
    left: 50px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
    background-image: url("../imgs/next.png");
    opacity: 0.2;
    right: 50px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.nav {
    top: 67%;
    display: block;
    left: 0;
    margin: 0 auto;
    padding: 1em 0 0.8em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 88%;
    z-index: 5;
}
.nav li {
    border-radius: 5px;
    cursor: pointer;
    display: inline-block !important;
    margin: 5px 6px;
    position: relative;
    width: 76px;
}
.nav li.active {
    border: 3px solid #f59d73;
}
.nav li img {
    width:70px;
    height: 50px;
}
.container {
    padding-left: 44px;
    margin-right: auto;
    margin-left: auto;
}
.slider {
    margin: 15px;
    border-radius: 5px;
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slider img{
    width: 204px;
    height: 184px;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
/*-----------------------------------notification------------------------------------------------*/
.today,.thisWeek,.thisMonth{
    color: #30beb2;
    width: 100%;
    height: 34px;
    border-bottom: 1px solid #dedbba;
    border-top: 1px solid #dedbba;
    direction: rtl;
    padding-right: 18px;
    padding-top: 4px;
    font-size: 15pt;
    background-color: #fffdf6 ;

}
.today {
    margin-top: 60px;
}
.today-friend-row,.week-friend-row,.month-friend-row{
    background-color: #fffdf6 !important;
    width: 100%;
    height:60px;

}
.ulnot{
    margin-bottom: 0px ;

}
.today-friend-row ul,.week-friend-row ul,.month-friend-row ul{
  margin-bottom: 0px !important;

}
.today-friend-name,.week-friend-name,.month-friend-name{
    float: right;
    height: 60px;
    padding-right: 17px;
    padding-top: 20px;
}
.today-friend-img,.week-friend-img,.month-friend-img{
    float: right;
    width: 60px;
    height: 60px;
    background-size: auto;
}
.today-friend-img a >img,.week-friend-img a >img,.month-friend-img a >img{
    width: 60px;
    height: 60px;
}
.today-friend-name a >h4,.week-friend-name a >h4,.month-friend-name a >h4{
    font-family: "Myriad Hebrew";
    color: #fe925d ;
    margin: 0;
}

.today-friend-name a >h4,.week-friend-name a >h4, .month-friend-name a >h4{
    font-size: 15pt !important;
}




.notification-content{
    width: 200px;
    min-height: 180px;
    background-color:#F8F9F6 ;;
    position: absolute;
    top: 87%;
    right: 5.625%;
    z-index: 999999;
    opacity: 0.95;
    border-radius: 4px;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         0px 1px 3px 1px rgba(0, 0, 0, 0.49);
}
.notification-content ul{
   list-style-type: none;
}
.notification-friend-row{
    width: 100%;
    height:29px;
    background-color: #F8F9F6 ;
    border-bottom: 1px solid #515152;
}
.notification-title{
    width: 100%;
    height: 29px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #333333;
}
.notification-friend-img{
    float: right;
    width: 30px;
    height: 29px;
    background-size: auto;
}
.notification-friend-img a >img{
    width: 30px;
    height: 28px;
}
.notification-friend-name{
    float: right;
    height: 29px;
    width: 43.75%;
    padding-left: 25px;
    padding-top: 9px;

}
.notification-friend-days-left{
    direction: rtl;
    height: 29px;
    width: 37.5%;
    padding-left: 15px;
    padding-top: 10px;
}
.notification-friend-name a >h4,.notification-friend-days-left a >h5{
    font-family: 'Alef-Regular';
    color: #515152;
    margin: 0;
}

.notification-friend-name a >h4 {
    font-size: 8pt !important;
}

.notification-friend-days-left a >h5{
    font-size:8pt !important;
}
/*-----------------------------------Ignore page------------------------------------------------*/
.ignore-friend-row{
    width: 100%;
    height:60px;
    background-color: #fffdf6 ;
    border-bottom: 1px solid #dedbba;
}

